.success {
	display: none;
}
.main {
	font-family: Arial, Helvetica, sans-serif;
	max-width: 600px;
	margin: auto;
}

.registration_form {
	padding: 10px;
	background-color: silver;
}
.registration {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold; 
	font-size: 18px;
}
.userData {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 500; 
	font-size: 16px;	
}
#username, #psw, #email {
	padding: 10px;
	border: 1px dotted saddlebrown;
}
.button {
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold; 
	font-size: 18px;
}

.picture {
	max-width: 600px;
}
div img {
	width: 100%;
	height: auto;	
}


/* Small screens*/
/*iPhone*/
@media only screen and (max-width: 460px) {
	body {
		background-color:yellowgreen;
		}
}
@media only screen and (max-width: 380px) {
  div img { 
    display:none; 
  }
}
/* Medium screens*/
@media only screen and (min-width: 641px) and (max-width: 1024px) {
	body {
		background-color: blanchedalmond;
	}
 }
	
/* Large screens*/
@media only screen and (min-width: 1025px) and (max-width: 1440px) { 
	.main {
		border: 5px dotted red;
	}
}
