.success {
	display: none;
}
.main {
	font-family: Arial, Helvetica, sans-serif;
	background-color: silver;
	width: 400px;
	margin-left: 100px;
}

.registration_form {
	padding: 10px;
}
.picture {
	align-content: center;
	max-width: 100%;
    height: auto;
}
.registration {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold; 
	font-size: 18px;
}
.userData {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold; 
	font-size: 14px;	
}
#username, #psw, #email {
	padding: 10px;
	border: 1px dotted saddlebrown;
}
div.img {
	max-width: 100%;
	height: auto;	
}

/* Small screens*/
@media only screen and (max-width: 640px) { } 
	/* Smartphones (landscape) ----------- */
	@media only screen and (min-width : 321px) { }
	/* Smartphones (portrait) ----------- */
	@media only screen and (max-width : 320px) { }
	/*iPhone*/
	@media screen and (max-width: 480px) { }

/* Medium screens*/
@media only screen and (min-width: 641px) { } 
@media only screen and (min-width: 641px) and (max-width: 1024px) { }
	/*iPad*/
	@media screen and (min-width: 768px) { }
	
/* Large screens*/
@media only screen and (min-width: 1025px) { }
@media only screen and (min-width: 1025px) and (max-width: 1440px) { }

/* XLarge screens*/
@media only screen and (min-width: 1441px) { }
@media only screen and (min-width: 1441px) and (max-width: 1920px) { }

/* XXLarge screens*/
@media only screen and (min-width: 1921px) { }
