#header {
	font-size: 60px;
	color: #F7AC5F;
    font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left: 160px;
	padding-top: 20px;
	padding-bottom: 10px;
	letter-spacing: 0.5em;
	line-height: 0.8;
	text-shadow: 0 0 3px saddlebrown;
}
#heend {
	letter-spacing: .1em;
	line-height: 1;
	color: saddlebrown;
	font-weight: bold;
	font-size: 130px;
	text-shadow: 2px 2px 5px saddlebrown;
}
#fonas {
	background-color: wheat;
	height: 500px;
}	

#backg {
	background: linear-gradient(to right, wheat, white);
}

nav ul li a {
		border: 1px solid saddlebrown;	
		display: block;
		width: 120px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14pt;		
		padding: 10px;	
		border-radius: 15px;		
		text-decoration: none;
		text-align: center;
		font-weight: lighter;
		color: saddlebrown;
		text-transform: uppercase;
		background: linear-gradient(to right, wheat, white);
		text-shadow: 1px 1px 3px saddlebrown;
} 

#myrotate {
    transform: rotate(5deg); 
} 

nav ul li {
	float: left;
	list-style-type: none;
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav {
/*	border: 2px solid darkred;
	background-color: wheat; */
	width: 100%;
	display: block;
	overflow: hidden;
}

.boldd {
	font-weight: bold;
}
footer {
	text-align: left;
	padding: 5px 5px 5px 5px;
	clear: both;
	width: 960px;
}

table tr td img {
	width: 315px;
	height: 200px;
}
#tabble {
	position: static;
	float: left;	
	width: 960px;
}
.hcenter {
	width: 660px;
	height: 60px;
	background-image: url(http://www.whatcomtechprep.org/Educators/Resources/images/culinary_swirl.jpg);
	background-size: 60px, 50px;
	background-repeat: repeat-x;
	margin-top: 15px;
}

#bbody {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
#content {
	float: left;
	width: 660px;
	border-right-style: dotted;
	border-color: saddlebrown;
}
#rightcol {
	padding-left: 15px;
	float: left;
	width: 260px;
	margin-left: 20px;
	background: linear-gradient(wheat, white);
}

section {
	padding-right: 10px;
}